In [1]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [2]:
temp = ConnectDatabase()

In [3]:
temp.conn

In [4]:
doc['column_map']['TRANSACTION_MASTER']

{'category': 'category',
 'cust_id': 'id',
 'product_id': 'prod_id',
 'quantity': 'purchasequantity',
 'timestamp': 'date'}

In [7]:
query = 'SELECT "%s","%s" FROM "%s"'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                               doc['column_map']['TRANSACTION_MASTER']['category'],
                               doc['table_map']['TRANSACTION_MASTER'])

In [8]:
print query

SELECT "id","category" FROM "trans"

In [9]:
temp.conn.rollback()

In [10]:
temp.cur.execute(query)

In [11]:
col_names = [desc[0] for desc in temp.cur.description]

In [12]:
col_names

['id', 'category']

In [13]:
import pandas as pd

In [14]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [15]:
trans_table.head()

           id  category
0  3561244241      2507
1  3561244241      2507
2  3561244241      9753
3  3561244241      9518
4  3561244241      9518

In [16]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['category']:'category'}, inplace=True)

In [17]:
trans_table.head()

      cust_id  category
0  3561244241      2507
1  3561244241      2507
2  3561244241      9753
3  3561244241      9518
4  3561244241      9518

In [18]:
trans_table.shape

(71932603, 2)

In [19]:
len(trans_table['cust_id'].unique())

62308

In [20]:
grp_cust = trans_table.groupby('cust_id').count()

In [21]:
grp_cust.head()

           category
cust_id
100010021       349
100022923       617
100029473      1644
100050424      1235
100051316      3065

In [22]:
grp_cust = grp_cust.reset_index()

In [23]:
grp_cust.head()

     cust_id  category
0  100010021       349
1  100022923       617
2  100029473      1644
3  100050424      1235
4  100051316      3065

In [24]:
grp_cust.shape

(62308, 2)

In [25]:
grp_cust.rename(columns={'category':'count'}, inplace=True)

In [26]:
grp_cust.head()

     cust_id  count
0  100010021    349
1  100022923    617
2  100029473   1644
3  100050424   1235
4  100051316   3065

In [27]:
grp_cust_df_1 = grp_cust.query('count != 1')

In [28]:
grp_cust_df_1.shape

(62301, 2)

In [29]:
grp_cust.shape

(62308, 2)

In [30]:
grp_cust_df_1.reset_index(drop=True, inplace=True)

In [31]:
grp_cust_df_1.head()

     cust_id  count
0  100010021    349
1  100022923    617
2  100029473   1644
3  100050424   1235
4  100051316   3065

In [32]:
grp_cust_df_1.tail()

        cust_id  count
62296  99804794    529
62297  99818613    673
62298  99844671   1656
62299  99926227    914
62300  99972977    670

In [33]:
cust = grp_cust_df_1[['cust_id']]

In [34]:
cust.head()

     cust_id
0  100010021
1  100022923
2  100029473
3  100050424
4  100051316

In [35]:
final_data = trans_table.merge(cust, on='cust_id')

In [36]:
final_data.shape

(71932596, 2)

In [37]:
cust_category_comb = final_data.groupby(['cust_id','category']).size().reset_index().rename(columns={0:'count'})

In [38]:
cust_category_comb.head()

     cust_id  category  count
0  100010021       201      1
1  100010021       311      1
2  100010021       410      1
3  100010021       416      8
4  100010021       417      1

In [39]:
affinity_df = cust_category_comb.merge(grp_cust_df_1, on='cust_id')

In [40]:
affinity_df.head()

     cust_id  category  count_x  count_y
0  100010021       201        1      349
1  100010021       311        1      349
2  100010021       410        1      349
3  100010021       416        8      349
4  100010021       417        1      349

In [41]:
affinity_df.rename(columns={'count_x':'combination'}, inplace=True)
affinity_df.rename(columns={'count_y':'visits'}, inplace=True)

In [42]:
affinity_df.head()

     cust_id  category  combination  visits
0  100010021       201            1     349
1  100010021       311            1     349
2  100010021       410            1     349
3  100010021       416            8     349
4  100010021       417            1     349

In [43]:
affinity_df['affinity'] = affinity_df['combination'] / affinity_df['visits'] * 100

In [44]:
affinity_df.head()

     cust_id  category  combination  visits  affinity
0  100010021       201            1     349  0.286533
1  100010021       311            1     349  0.286533
2  100010021       410            1     349  0.286533
3  100010021       416            8     349  2.292264
4  100010021       417            1     349  0.286533

In [45]:
import numpy as np

In [46]:
affinity_df['affinity_round'] = affinity_df.affinity.round()

In [47]:
affinity_df.head()

     cust_id  category  combination  visits  affinity  affinity_round
0  100010021       201            1     349  0.286533             0.0
1  100010021       311            1     349  0.286533             0.0
2  100010021       410            1     349  0.286533             0.0
3  100010021       416            8     349  2.292264             2.0
4  100010021       417            1     349  0.286533             0.0

In [48]:
affinity_user_df = affinity_df[['cust_id','affinity_round']]

In [49]:
affinity_user_df.head()

     cust_id  affinity_round
0  100010021             0.0
1  100010021             0.0
2  100010021             0.0
3  100010021             2.0
4  100010021             0.0

In [50]:
affinity_user_df.shape

(11965910, 2)

In [51]:
affinity_user_df1 = affinity_user_df.drop_duplicates('cust_id').reset_index(drop = True)

In [52]:
affinity_user_df1.shape

(62301, 2)

In [53]:
affinity_user_comb = affinity_user_df1.groupby(['affinity_round','cust_id']).size().reset_index().rename(columns={0:'users_count'})

In [54]:
affinity_user_comb.head()

   affinity_round    cust_id  users_count
0             0.0  100010021            1
1             0.0  100022923            1
2             0.0  100029473            1
3             0.0  100050424            1
4             0.0  100051316            1

In [55]:
affinity_user_comb.tail()

       affinity_round     cust_id  users_count
62296            50.0  4053422289            1
62297            50.0  4377662924            1
62298            50.0  4396488884            1
62299            50.0  4670979967            1
62300           100.0  2595430565            1

In [56]:
affinity_user_comb_df = affinity_user_comb.groupby(by=['affinity_round'])['users_count'].sum()

In [57]:
affinity_user_comb_df.head()

affinity_round
0.0    24583
1.0    15709
2.0     5986
3.0     3706
4.0     2867
Name: users_count, dtype: int64

In [58]:
type(affinity_user_comb_df)

pandas.core.series.Series

In [59]:
affinity_user_comb_df = affinity_user_comb_df.to_frame()

In [60]:
affinity_user_comb_df.head()

                users_count
affinity_round
0.0                   24583
1.0                   15709
2.0                    5986
3.0                    3706
4.0                    2867

In [61]:
affinity_user_comb_df.reset_index(inplace=True)

In [62]:
affinity_user_comb_df

    affinity_round  users_count
0              0.0        24583
1              1.0        15709
2              2.0         5986
3              3.0         3706
4              4.0         2867
5              5.0         2285
6              6.0         1656
7              7.0         1310
8              8.0          886
9              9.0          660
10            10.0          552
11            11.0          418
12            12.0          398
13            13.0          282
14            14.0          252
15            15.0          186
16            16.0          121
17            17.0          111
18            18.0           85
19            19.0           47
20            20.0           56
21            21.0           36
22            22.0           21
23            23.0           13
24            24.0           17
25            25.0           15
26            26.0            9
27            27.0            4
28            28.0            4
29            29.0            5
30            30.0            3
31            31.0            2
32            32.0            1
33            33.0            3
34            35.0            1
35            37.0            1
36            38.0            1
37            45.0            2
38            48.0            1
39            50.0            5
40           100.0            1

In [63]:
affinity_user_comb_df.users_count.sum()

62301

In [64]:
affinity_user_comb_df.sort_index(ascending=False,inplace=True)

In [65]:
affinity_user_comb_df.head()

    affinity_round  users_count
40           100.0            1
39            50.0            5
38            48.0            1
37            45.0            2
36            38.0            1

In [66]:
affinity_user_comb_df['user_per'] = affinity_user_comb_df['users_count']/affinity_user_comb_df['users_count'].sum() * 100

In [67]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per
40           100.0            1  0.001605
39            50.0            5  0.008026
38            48.0            1  0.001605
37            45.0            2  0.003210
36            38.0            1  0.001605

In [68]:
affinity_user_comb_df['aggregated_per'] = affinity_user_comb_df.user_per.cumsum()

In [69]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per  aggregated_per
40           100.0            1  0.001605        0.001605
39            50.0            5  0.008026        0.009631
38            48.0            1  0.001605        0.011236
37            45.0            2  0.003210        0.014446
36            38.0            1  0.001605        0.016051

In [70]:
affinity_user_comb_df

    affinity_round  users_count   user_per  aggregated_per
40           100.0            1   0.001605        0.001605
39            50.0            5   0.008026        0.009631
38            48.0            1   0.001605        0.011236
37            45.0            2   0.003210        0.014446
36            38.0            1   0.001605        0.016051
35            37.0            1   0.001605        0.017656
34            35.0            1   0.001605        0.019261
33            33.0            3   0.004815        0.024077
32            32.0            1   0.001605        0.025682
31            31.0            2   0.003210        0.028892
30            30.0            3   0.004815        0.033707
29            29.0            5   0.008026        0.041733
28            28.0            4   0.006420        0.048153
27            27.0            4   0.006420        0.054574
26            26.0            9   0.014446        0.069020
25            25.0           15   0.024077        0.093096
24            24.0           17   0.027287        0.120383
23            23.0           13   0.020866        0.141250
22            22.0           21   0.033707        0.174957
21            21.0           36   0.057784        0.232741
20            20.0           56   0.089886        0.322627
19            19.0           47   0.075440        0.398067
18            18.0           85   0.136434        0.534502
17            17.0          111   0.178167        0.712669
16            16.0          121   0.194218        0.906888
15            15.0          186   0.298551        1.205438
14            14.0          252   0.404488        1.609926
13            13.0          282   0.452641        2.062567
12            12.0          398   0.638834        2.701401
11            11.0          418   0.670936        3.372338
10            10.0          552   0.886021        4.258359
9              9.0          660   1.059373        5.317732
8              8.0          886   1.422128        6.739860
7              7.0         1310   2.102695        8.842555
6              6.0         1656   2.658063       11.500618
5              5.0         2285   3.667678       15.168296
4              4.0         2867   4.601852       19.770148
3              3.0         3706   5.948540       25.718688
2              2.0         5986   9.608192       35.326881
1              1.0        15709  25.214684       60.541564
0              0.0        24583  39.458436      100.000000

In [71]:
affinity_user_comb_df['round_aggr'] = affinity_user_comb_df.aggregated_per.round()

In [72]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per  aggregated_per  round_aggr
40           100.0            1  0.001605        0.001605         0.0
39            50.0            5  0.008026        0.009631         0.0
38            48.0            1  0.001605        0.011236         0.0
37            45.0            2  0.003210        0.014446         0.0
36            38.0            1  0.001605        0.016051         0.0

In [73]:
affinity_user_comb_df.tail()

   affinity_round  users_count   user_per  aggregated_per  round_aggr
4             4.0         2867   4.601852       19.770148        20.0
3             3.0         3706   5.948540       25.718688        26.0
2             2.0         5986   9.608192       35.326881        35.0
1             1.0        15709  25.214684       60.541564        61.0
0             0.0        24583  39.458436      100.000000       100.0

In [74]:
a = affinity_user_comb_df.loc[affinity_user_comb_df['round_aggr'] <= 2]

In [75]:
a

    affinity_round  users_count  user_per  aggregated_per  round_aggr
40           100.0            1  0.001605        0.001605         0.0
39            50.0            5  0.008026        0.009631         0.0
38            48.0            1  0.001605        0.011236         0.0
37            45.0            2  0.003210        0.014446         0.0
36            38.0            1  0.001605        0.016051         0.0
35            37.0            1  0.001605        0.017656         0.0
34            35.0            1  0.001605        0.019261         0.0
33            33.0            3  0.004815        0.024077         0.0
32            32.0            1  0.001605        0.025682         0.0
31            31.0            2  0.003210        0.028892         0.0
30            30.0            3  0.004815        0.033707         0.0
29            29.0            5  0.008026        0.041733         0.0
28            28.0            4  0.006420        0.048153         0.0
27            27.0            4  0.006420        0.054574         0.0
26            26.0            9  0.014446        0.069020         0.0
25            25.0           15  0.024077        0.093096         0.0
24            24.0           17  0.027287        0.120383         0.0
23            23.0           13  0.020866        0.141250         0.0
22            22.0           21  0.033707        0.174957         0.0
21            21.0           36  0.057784        0.232741         0.0
20            20.0           56  0.089886        0.322627         0.0
19            19.0           47  0.075440        0.398067         0.0
18            18.0           85  0.136434        0.534502         1.0
17            17.0          111  0.178167        0.712669         1.0
16            16.0          121  0.194218        0.906888         1.0
15            15.0          186  0.298551        1.205438         1.0
14            14.0          252  0.404488        1.609926         2.0
13            13.0          282  0.452641        2.062567         2.0

In [76]:
a.reset_index(drop=True, inplace=True)

In [77]:
a

    affinity_round  users_count  user_per  aggregated_per  round_aggr
0            100.0            1  0.001605        0.001605         0.0
1             50.0            5  0.008026        0.009631         0.0
2             48.0            1  0.001605        0.011236         0.0
3             45.0            2  0.003210        0.014446         0.0
4             38.0            1  0.001605        0.016051         0.0
5             37.0            1  0.001605        0.017656         0.0
6             35.0            1  0.001605        0.019261         0.0
7             33.0            3  0.004815        0.024077         0.0
8             32.0            1  0.001605        0.025682         0.0
9             31.0            2  0.003210        0.028892         0.0
10            30.0            3  0.004815        0.033707         0.0
11            29.0            5  0.008026        0.041733         0.0
12            28.0            4  0.006420        0.048153         0.0
13            27.0            4  0.006420        0.054574         0.0
14            26.0            9  0.014446        0.069020         0.0
15            25.0           15  0.024077        0.093096         0.0
16            24.0           17  0.027287        0.120383         0.0
17            23.0           13  0.020866        0.141250         0.0
18            22.0           21  0.033707        0.174957         0.0
19            21.0           36  0.057784        0.232741         0.0
20            20.0           56  0.089886        0.322627         0.0
21            19.0           47  0.075440        0.398067         0.0
22            18.0           85  0.136434        0.534502         1.0
23            17.0          111  0.178167        0.712669         1.0
24            16.0          121  0.194218        0.906888         1.0
25            15.0          186  0.298551        1.205438         1.0
26            14.0          252  0.404488        1.609926         2.0
27            13.0          282  0.452641        2.062567         2.0

In [78]:
a_value = a.affinity_round.loc[a['round_aggr'] <= 2]

In [79]:
a_value = a_value.tolist()

In [80]:
a_value

[100.0,
 50.0,
 48.0,
 45.0,
 38.0,
 37.0,
 35.0,
 33.0,
 32.0,
 31.0,
 30.0,
 29.0,
 28.0,
 27.0,
 26.0,
 25.0,
 24.0,
 23.0,
 22.0,
 21.0,
 20.0,
 19.0,
 18.0,
 17.0,
 16.0,
 15.0,
 14.0,
 13.0]

In [81]:
a_value[-1]

13.0

In [82]:
b = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >2) & 
                                       (affinity_user_comb_df['round_aggr'] <=10)]

In [83]:
b

    affinity_round  users_count  user_per  aggregated_per  round_aggr
12            12.0          398  0.638834        2.701401         3.0
11            11.0          418  0.670936        3.372338         3.0
10            10.0          552  0.886021        4.258359         4.0
9              9.0          660  1.059373        5.317732         5.0
8              8.0          886  1.422128        6.739860         7.0
7              7.0         1310  2.102695        8.842555         9.0

In [84]:
b.reset_index(drop=True, inplace=True)

In [85]:
b

   affinity_round  users_count  user_per  aggregated_per  round_aggr
0            12.0          398  0.638834        2.701401         3.0
1            11.0          418  0.670936        3.372338         3.0
2            10.0          552  0.886021        4.258359         4.0
3             9.0          660  1.059373        5.317732         5.0
4             8.0          886  1.422128        6.739860         7.0
5             7.0         1310  2.102695        8.842555         9.0

In [86]:
b_value = b.affinity_round.loc[(b['round_aggr'] >2) & 
                          (b['round_aggr'] <=10)]

In [87]:
b_value

0    12.0
1    11.0
2    10.0
3     9.0
4     8.0
5     7.0
Name: affinity_round, dtype: float64

In [88]:
b_value = b_value.tolist()

In [89]:
b_value

[12.0, 11.0, 10.0, 9.0, 8.0, 7.0]

In [90]:
c = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >10) & 
                                       (affinity_user_comb_df['round_aggr'] <=25)]

In [91]:
c

   affinity_round  users_count  user_per  aggregated_per  round_aggr
6             6.0         1656  2.658063       11.500618        12.0
5             5.0         2285  3.667678       15.168296        15.0
4             4.0         2867  4.601852       19.770148        20.0

In [92]:
c.reset_index(drop=True, inplace=True)

In [93]:
c_value = c.affinity_round.loc[(c['round_aggr'] >10) & 
                                       (c['round_aggr'] <=25)]

In [94]:
c_value

0    6.0
1    5.0
2    4.0
Name: affinity_round, dtype: float64

In [95]:
c_value = c_value.tolist()

In [96]:
c_value

[6.0, 5.0, 4.0]

In [97]:
d = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >25) & 
                                       (affinity_user_comb_df['round_aggr'] <=50)]

In [98]:
d

   affinity_round  users_count  user_per  aggregated_per  round_aggr
3             3.0         3706  5.948540       25.718688        26.0
2             2.0         5986  9.608192       35.326881        35.0

In [99]:
d.reset_index(drop=True, inplace=True)

In [100]:
d_value = d.affinity_round.loc[(d['round_aggr'] > 25) & 
                          (d['round_aggr'] <=50)]

In [101]:
d_value

0    3.0
1    2.0
Name: affinity_round, dtype: float64

In [102]:
d_value= d_value.tolist()

In [103]:
d_value

[3.0, 2.0]

In [104]:
e = affinity_user_comb_df.loc[affinity_user_comb_df['round_aggr'] > 50]

In [105]:
e.reset_index(drop=True, inplace=True)

In [106]:
e_value = e.affinity_round.loc[e['round_aggr'] > 50]

In [107]:
e_value

0    1.0
1    0.0
Name: affinity_round, dtype: float64

In [108]:
e_value = e_value.tolist()

In [109]:
e_value

[1.0, 0.0]

In [110]:
affinity_df['Recommendation_class'] = ""

In [111]:
affinity_df.head()

     cust_id  category  combination  visits  affinity  affinity_round class
0  100010021       201            1     349  0.286533             0.0
1  100010021       311            1     349  0.286533             0.0
2  100010021       410            1     349  0.286533             0.0
3  100010021       416            8     349  2.292264             2.0
4  100010021       417            1     349  0.286533             0.0

In [112]:
affinity_df.loc[affinity_df['affinity_round'] >= a_value[-1], 'Recommendation_class'] = "Class_A"

In [113]:
affinity_df.head()

     cust_id  category  combination  visits  affinity  affinity_round class
0  100010021       201            1     349  0.286533             0.0
1  100010021       311            1     349  0.286533             0.0
2  100010021       410            1     349  0.286533             0.0
3  100010021       416            8     349  2.292264             2.0
4  100010021       417            1     349  0.286533             0.0

In [114]:
affinity_df.loc[(affinity_df['affinity_round'] >= b_value[-1]) & (affinity_df['affinity_round'] < a_value[-1]), 'Recommendation_class'] = "Class_B"

In [115]:
affinity_df.loc[(affinity_df['affinity_round'] >= c_value[-1]) & (affinity_df['affinity_round'] < b_value[-1]), 'Recommendation_class'] = "Class_C"

In [116]:
affinity_df.loc[(affinity_df['affinity_round'] >= d_value[-1]) & (affinity_df['affinity_round'] < c_value[-1]), 'Recommendation_class'] = "Class_D"

In [117]:
affinity_df.loc[(affinity_df['affinity_round'] >= e_value[-1]) & (affinity_df['affinity_round'] < d_value[-1]), 'Recommendation_class'] = "Class_E"

In [118]:
affinity_df.head()

     cust_id  category  combination  visits  affinity  affinity_round    class
0  100010021       201            1     349  0.286533             0.0  Class_E
1  100010021       311            1     349  0.286533             0.0  Class_E
2  100010021       410            1     349  0.286533             0.0  Class_E
3  100010021       416            8     349  2.292264             2.0  Class_D
4  100010021       417            1     349  0.286533             0.0  Class_E

In [119]:
#affinity_df.query('affinity_round >= 13')

,cust_id,category,combination,visits,affinity,affinity_round,class
2818,100413035,6315,35,186,18.817204,19.0,Class_A
14319,1017711885,9908,65,423,15.366430,15.0,Class_A
20970,102272269,5127,8,42,19.047619,19.0,Class_A
24530,102569751,5609,37,191,19.371728,19.0,Class_A
27596,102780068,501,75,599,12.520868,13.0,Class_A
29685,102893227,6315,28,214,13.084112,13.0,Class_A
29712,102900714,2709,137,875,15.657143,16.0,Class_A
30088,102970463,9753,2,8,25.000000,25.0,Class_A
31146,103015314,6408,241,1676,14.379475,14.0,Class_A
36674,103312863,5127,120,769,15.604681,16.0,Class_A
42962,103849933,2105,75,421,17.814727,18.0,Class_A
45626,104079182,6409,185,763,24.246396,24.0,Class_A
50181,104370698,6315,42,267,15.730337,16.0,Class_A
50359,104415170,2506,78,489,15.950920,16.0,Class_A
67944,105150199,3618,151,492,30.691057,31.0,Class_A
69671,105262890,5125,172,1165,14.763948,15.0,Class_A
77852,105737494,5126,34,163,20.858896,21.0,Class_A
83306,106120258,418,30,154,19.480519,19.0,Class_A
96391,106944049,501,20,98,20.408163,20.0,Class_A
101746,1073248526,9753,159,946,16.807611,17.0,Class_A
102356,107345069,9609,338,2384,14.177852,14.0,Class_A
107803,107733059,907,28,208,13.461538,13.0,Class_A
111581,1078792440,9753,355,2137,16.612073,17.0,Class_A
112360,107908162,9904,267,862,30.974478,31.0,Class_A
118128,108344921,2904,13,92,14.130435,14.0,Class_A
120072,108448122,3601,16,98,16.326531,16.0,Class_A
124785,108761761,6401,83,562,14.768683,15.0,Class_A
127822,109042370,5125,191,1343,14.221891,14.0,Class_A
128701,1091291758,9753,265,1503,17.631404,18.0,Class_A
130942,109566006,5125,185,1225,15.102041,15.0,Class_A
...,...,...,...,...,...,...,...
11858668,817874268,9753,258,1226,21.044046,21.0,Class_A
11864807,834799955,6315,42,300,14.000000,14.0,Class_A
11864825,834799955,9908,45,300,15.000000,15.0,Class_A
11869875,852268189,5125,87,533,16.322702,16.0,Class_A
11877350,863373290,9753,206,1061,19.415646,19.0,Class_A
11879229,864058080,5126,64,506,12.648221,13.0,Class_A
11887042,868370385,6401,492,3853,12.769271,13.0,Class_A
11889743,869269860,2704,156,1105,14.117647,14.0,Class_A
11895712,872049723,6401,351,2335,15.032120,15.0,Class_A
11899315,872846189,9753,241,1663,14.491882,14.0,Class_A
11905798,874013933,9753,243,1906,12.749213,13.0,Class_A
11907222,87423533,3618,41,153,26.797386,27.0,Class_A
11911415,875087896,9753,137,894,15.324385,15.0,Class_A
11914971,878487149,6312,33,260,12.692308,13.0,Class_A
11927675,898839529,7901,134,737,18.181818,18.0,Class_A
11936436,944697007,0,68,359,18.941504,19.0,Class_A
11936446,944697007,908,45,359,12.534819,13.0,Class_A
11937139,948271276,9609,209,1257,16.626889,17.0,Class_A
11937324,94953922,6401,107,687,15.574964,16.0,Class_A
11940172,96745376,2630,9,49,18.367347,18.0,Class_A
11940173,96745376,2633,7,49,14.285714,14.0,Class_A
11940177,96745376,6401,13,49,26.530612,27.0,Class_A
11944254,97234559,5128,31,233,13.304721,13.0,Class_A
11945032,97309678,9753,217,1372,15.816327,16.0,Class_A
11945949,97483202,3604,21,120,17.500000,18.0,Class_A
11948861,97904692,9904,72,463,15.550756,16.0,Class_A
11950022,98030569,6409,56,358,15.642458,16.0,Class_A
11950334,98075215,6315,12,77,15.584416,16.0,Class_A
11954050,98440819,501,12,71,16.901408,17.0,Class_A
11957486,98985536,5125,201,1409,14.265436,14.0,Class_A

In [120]:
affinity_df.shape

(11965910, 7)

In [121]:
len(affinity_df.cust_id.unique())

62301