In [1]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [2]:
temp = ConnectDatabase()

In [3]:
temp.conn

In [4]:
query = 'SELECT * FROM %s'%(doc['table_map']['TRANSACTION_MASTER'])

In [5]:
print query

SELECT * FROM trans

In [6]:
temp.cur.execute(query)

In [7]:
col_names = [desc[0] for desc in temp.cur.description]

In [8]:
col_names

['userid',
 'quantity',
 'product_id',
 'purchase_date',
 'platform',
 'revenue',
 'renewal',
 'insider',
 'receipt_id']

In [9]:
import pandas as pd

In [10]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [11]:
trans_table.head()

,userid,quantity,product_id,purchase_date,platform,revenue,renewal,insider,receipt_id
0,3893506,0,com.gopaktor.subscription.v1.premium.1m,2016-09-07 13:59:45+00:00,ios,31.28,0,0,1984955
1,3793254,0,com.gopaktor.subscription.v1.premium.1m,2016-09-25 03:06:11+00:00,ios,31.28,0,0,2170195
2,6148794,0,com.gopaktor.subscription.v1.premium.1m,2016-10-01 02:27:37+00:00,ios,31.28,0,0,2259995
3,6149220,0,com.gopaktor.subscription.v4.premium.1m,2016-10-01 06:39:16+00:00,android,31.28,0,0,1980761
4,6149432,0,com.gopaktor.subscription.v4.premium.1m,2016-10-01 09:07:49+00:00,android,31.28,0,0,1980865

In [12]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['timestamp']:'timestamp'}, inplace=True)

In [13]:
trans_table.head()

,cust_id,quantity,product_id,timestamp,platform,revenue,renewal,insider,receipt_id
0,3893506,0,com.gopaktor.subscription.v1.premium.1m,2016-09-07 13:59:45+00:00,ios,31.28,0,0,1984955
1,3793254,0,com.gopaktor.subscription.v1.premium.1m,2016-09-25 03:06:11+00:00,ios,31.28,0,0,2170195
2,6148794,0,com.gopaktor.subscription.v1.premium.1m,2016-10-01 02:27:37+00:00,ios,31.28,0,0,2259995
3,6149220,0,com.gopaktor.subscription.v4.premium.1m,2016-10-01 06:39:16+00:00,android,31.28,0,0,1980761
4,6149432,0,com.gopaktor.subscription.v4.premium.1m,2016-10-01 09:07:49+00:00,android,31.28,0,0,1980865

In [14]:
trans_table.shape

(4428, 9)

In [15]:
trans_df = trans_table[['cust_id','product_id']]

In [16]:
grp_cust = trans_df.groupby('cust_id').count()

In [17]:
grp_cust.head()

         product_id
cust_id
2942914           1
3053432          10
3129800           1
3289765           1
3325662           2

In [18]:
grp_cust = grp_cust.reset_index()

In [19]:
grp_cust.head()

   cust_id  product_id
0  2942914           1
1  3053432          10
2  3129800           1
3  3289765           1
4  3325662           2

In [20]:
grp_cust.rename(columns={'product_id':'count'}, inplace=True)

In [21]:
grp_cust.head()

   cust_id  count
0  2942914      1
1  3053432     10
2  3129800      1
3  3289765      1
4  3325662      2

In [22]:
grp_cust_df_1 = grp_cust.query('count != 1')

In [23]:
grp_cust_df_1.head()

   cust_id  count
1  3053432     10
4  3325662      2
5  3409109      2
6  3793254      4
7  3893506      4

In [24]:
grp_cust_df_1.shape

(872, 2)

In [25]:
grp_cust.shape

(3087, 2)

In [26]:
grp_cust_df_1.reset_index(drop=True, inplace=True)

In [27]:
grp_cust_df_1.head()

   cust_id  count
0  3053432     10
1  3325662      2
2  3409109      2
3  3793254      4
4  3893506      4

In [28]:
grp_cust_df_1.tail()

     cust_id  count
867  6377425      2
868  6379258      2
869  6379806      2
870  6383202      2
871  6383769      2

In [29]:
cust = grp_cust_df_1[['cust_id']]

In [30]:
cust.head()

   cust_id
0  3053432
1  3325662
2  3409109
3  3793254
4  3893506

In [31]:
final_data = trans_df.merge(cust, on='cust_id')

In [32]:
final_data.shape

(2213, 2)

In [33]:
cust_prod_comb = final_data.groupby(['cust_id','product_id']).size().reset_index().rename(columns={0:'count'})

In [34]:
cust_prod_comb.head()

   cust_id                                product_id  count
0  3053432   com.gopaktor.subscription.v4.premium.1m     10
1  3325662  com.gopaktor.subscription.v12.premium.1m      2
2  3409109  com.gopaktor.subscription.v12.premium.1m      2
3  3793254   com.gopaktor.subscription.v1.premium.1m      4
4  3893506   com.gopaktor.subscription.v1.premium.1m      4

In [35]:
xyz = cust_prod_comb.merge(grp_cust_df_1, on='cust_id')

In [36]:
xyz.head()

   cust_id                                product_id  count_x  count_y
0  3053432   com.gopaktor.subscription.v4.premium.1m       10       10
1  3325662  com.gopaktor.subscription.v12.premium.1m        2        2
2  3409109  com.gopaktor.subscription.v12.premium.1m        2        2
3  3793254   com.gopaktor.subscription.v1.premium.1m        4        4
4  3893506   com.gopaktor.subscription.v1.premium.1m        4        4

In [37]:
xyz.rename(columns={'count_x':'combination'}, inplace=True)
xyz.rename(columns={'count_y':'visits'}, inplace=True)

In [38]:
xyz.head()

   cust_id                                product_id  combination  visits
0  3053432   com.gopaktor.subscription.v4.premium.1m           10      10
1  3325662  com.gopaktor.subscription.v12.premium.1m            2       2
2  3409109  com.gopaktor.subscription.v12.premium.1m            2       2
3  3793254   com.gopaktor.subscription.v1.premium.1m            4       4
4  3893506   com.gopaktor.subscription.v1.premium.1m            4       4

In [39]:
xyz['affinity'] = xyz['combination'] / xyz['visits'] * 100

In [42]:
xyz.head()

,cust_id,product_id,combination,visits,affinity
0,3053432,com.gopaktor.subscription.v4.premium.1m,10,10,100.0
1,3325662,com.gopaktor.subscription.v12.premium.1m,2,2,100.0
2,3409109,com.gopaktor.subscription.v12.premium.1m,2,2,100.0
3,3793254,com.gopaktor.subscription.v1.premium.1m,4,4,100.0
4,3893506,com.gopaktor.subscription.v1.premium.1m,4,4,100.0

In [43]:
xyz['class'] = ""

In [44]:
xyz.head()

,cust_id,product_id,combination,visits,affinity,class
0,3053432,com.gopaktor.subscription.v4.premium.1m,10,10,100.0,
1,3325662,com.gopaktor.subscription.v12.premium.1m,2,2,100.0,
2,3409109,com.gopaktor.subscription.v12.premium.1m,2,2,100.0,
3,3793254,com.gopaktor.subscription.v1.premium.1m,4,4,100.0,
4,3893506,com.gopaktor.subscription.v1.premium.1m,4,4,100.0,

In [45]:
xyz.loc[xyz['affinity'] >= 50, 'class'] = "Class_A"

In [46]:
xyz.loc[(xyz['affinity'] >= 20) & (xyz['affinity'] < 50) , 'class'] = "Class_B"

In [47]:
xyz.loc[xyz['affinity'] < 20 , 'class'] = "Class_C"

In [48]:
xyz.head()

,cust_id,product_id,combination,visits,affinity,class
0,3053432,com.gopaktor.subscription.v4.premium.1m,10,10,100.0,Class_A
1,3325662,com.gopaktor.subscription.v12.premium.1m,2,2,100.0,Class_A
2,3409109,com.gopaktor.subscription.v12.premium.1m,2,2,100.0,Class_A
3,3793254,com.gopaktor.subscription.v1.premium.1m,4,4,100.0,Class_A
4,3893506,com.gopaktor.subscription.v1.premium.1m,4,4,100.0,Class_A

In [51]:
xyz.query('affinity >= 20')

,cust_id,product_id,combination,visits,affinity,class
0,3053432,com.gopaktor.subscription.v4.premium.1m,10,10,100.000000,Class_A
1,3325662,com.gopaktor.subscription.v12.premium.1m,2,2,100.000000,Class_A
2,3409109,com.gopaktor.subscription.v12.premium.1m,2,2,100.000000,Class_A
3,3793254,com.gopaktor.subscription.v1.premium.1m,4,4,100.000000,Class_A
4,3893506,com.gopaktor.subscription.v1.premium.1m,4,4,100.000000,Class_A
5,4478184,com.gopaktor.subscription.v2.premium.1m.2000,2,2,100.000000,Class_A
6,6149073,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
7,6149179,com.gopaktor.subscription.v1.premium.1m,2,2,100.000000,Class_A
8,6149287,com.gopaktor.subscription.v4.premium.1m,5,5,100.000000,Class_A
9,6149306,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
10,6149386,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
11,6149464,com.gopaktor.subscription.v1.premium.1m,2,2,100.000000,Class_A
12,6149487,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
13,6149539,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
14,6150290,com.gopaktor.subscription.v1.premium.1m,3,3,100.000000,Class_A
15,6150561,com.gopaktor.credit.v2.1000,1,3,33.333333,Class_B
16,6150561,com.gopaktor.subscription.v4.premium.1m,2,3,66.666667,Class_A
17,6150777,com.gopaktor.subscription.v12.premium.1m,2,2,100.000000,Class_A
18,6150881,com.gopaktor.subscription.v1.premium.1m,3,3,100.000000,Class_A
19,6150928,com.gopaktor.subscription.v1.premium.1m,2,2,100.000000,Class_A
20,6150990,com.gopaktor.subscription.v1.premium.1m,2,2,100.000000,Class_A
21,6151290,com.gopaktor.subscription.v1.premium.1m,3,3,100.000000,Class_A
22,6151715,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
23,6151715,com.gopaktor.subscription.v1.premium.1m,1,2,50.000000,Class_A
24,6151910,com.gopaktor.subscription.v1.premium.1m,5,5,100.000000,Class_A
25,6151944,com.gopaktor.subscription.v1.premium.1m,5,5,100.000000,Class_A
26,6152091,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
27,6152401,com.gopaktor.subscription.v1.premium.1m,4,4,100.000000,Class_A
28,6152619,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
29,6152623,com.gopaktor.subscription.v1.premium.1m,2,2,100.000000,Class_A
...,...,...,...,...,...,...
987,6347615,com.gopaktor.subscription.v2.premium.3m,1,4,25.000000,Class_B
988,6349615,com.gopaktor.subscription.v4.premium.1m,2,2,100.000000,Class_A
989,6351176,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
990,6351176,com.gopaktor.subscription.v3.premium.3m,1,2,50.000000,Class_A
991,6354627,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
992,6354627,com.gopaktor.subscription.v2.premium.1m.2000,1,2,50.000000,Class_A
993,6356359,com.gopaktor.credit.v2.1000,2,3,66.666667,Class_A
994,6356359,com.gopaktor.subscription.v2.premium.6m,1,3,33.333333,Class_B
995,6358692,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
996,6358692,com.gopaktor.subscription.v4.premium.1m,1,2,50.000000,Class_A
997,6363536,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
998,6363536,com.gopaktor.subscription.v2.premium.1m.2000,1,2,50.000000,Class_A
999,6365954,com.gopaktor.credit.v2.1000,4,5,80.000000,Class_A
1000,6365954,com.gopaktor.subscription.v2.premium.1m.2000,1,5,20.000000,Class_B
1001,6372148,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
1002,6372148,com.gopaktor.subscription.v2.premium.3m.2000,1,2,50.000000,Class_A
1003,6374587,com.gopaktor.credit.v2.3000,1,2,50.000000,Class_A
1004,6374587,com.gopaktor.subscription.v12.premium.3m,1,2,50.000000,Class_A
1005,6374898,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
1006,6374898,com.gopaktor.subscription.v4.premium.1m,1,2,50.000000,Class_A
1007,6377425,com.gopaktor.credit.v2.10000,1,2,50.000000,Class_A
1008,6377425,com.gopaktor.subscription.v2.premium.1m.2000,1,2,50.000000,Class_A
1009,6379258,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
1010,6379258,com.gopaktor.subscription.v4.premium.1m,1,2,50.000000,Class_A
1011,6379806,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
1012,6379806,com.gopaktor.subscription.v2.premium.1m.2000,1,2,50.000000,Class_A
1013,6383202,com.gopaktor.subscription.v11.premium.6m,1,2,50.000000,Class_A
1014,6383202,com.gopaktor.subscription.v4.premium.1m,1,2,50.000000,Class_A
1015,6383769,com.gopaktor.credit.v2.1000,1,2,50.000000,Class_A
1016,6383769,com.gopaktor.subscription.v2.premium.6m.2000,1,2,50.000000,Class_A