In [1]:
from DemoServerDB import ConnectDatabase
from mapping import doc

In [2]:
temp = ConnectDatabase()

In [3]:
temp.conn

In [4]:
doc['column_map']['TRANSACTION_MASTER']

{'category': 'category',
 'cust_id': 'id',
 'product_id': 'prod_id',
 'quantity': 'purchasequantity',
 'timestamp': 'date'}

In [5]:
query = 'SELECT "%s","%s" FROM "%s"'%(doc['column_map']['TRANSACTION_MASTER']['cust_id'],
                               doc['column_map']['TRANSACTION_MASTER']['product_id'],
                               doc['table_map']['TRANSACTION_MASTER'])

In [6]:
print query

SELECT "id","prod_id" FROM "trans"

In [7]:
temp.conn.rollback()

In [8]:
temp.cur.execute(query)

In [9]:
col_names = [desc[0] for desc in temp.cur.description]

In [10]:
col_names

['id', 'prod_id']

In [11]:
import pandas as pd

In [12]:
trans_table = pd.DataFrame(temp.cur.fetchall(), columns=col_names)

In [13]:
trans_table.head()

           id                prod_id
0  3561244241  2507 - 8499 - 24 - OZ
1  3561244241  2507 - 8499 - 24 - OZ
2  3561244241      9753 - 0 - 1 - CT
3  3561244241   9518 - 2988 - 1 - CT
4  3561244241   9518 - 2988 - 1 - CT

In [14]:
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace=True)
trans_table.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace=True)

In [15]:
trans_table.head()

      cust_id             product_id
0  3561244241  2507 - 8499 - 24 - OZ
1  3561244241  2507 - 8499 - 24 - OZ
2  3561244241      9753 - 0 - 1 - CT
3  3561244241   9518 - 2988 - 1 - CT
4  3561244241   9518 - 2988 - 1 - CT

In [16]:
trans_table.shape

(71932603, 2)

In [17]:
trans_table = trans_table[['cust_id','product_id']]

In [18]:
len(trans_table['cust_id'].unique())

62308

In [19]:
grp_cust = trans_table.groupby('cust_id').count()

In [20]:
grp_cust.head()

           product_id
cust_id
100010021         349
100022923         617
100029473        1644
100050424        1235
100051316        3065

In [21]:
grp_cust = grp_cust.reset_index()

In [22]:
grp_cust.head()

     cust_id  product_id
0  100010021         349
1  100022923         617
2  100029473        1644
3  100050424        1235
4  100051316        3065

In [23]:
grp_cust.shape

(62308, 2)

In [24]:
grp_cust.rename(columns={'product_id':'count'}, inplace=True)

In [25]:
grp_cust.head()

     cust_id  count
0  100010021    349
1  100022923    617
2  100029473   1644
3  100050424   1235
4  100051316   3065

In [26]:
grp_cust_df_1 = grp_cust.query('count != 1')

In [27]:
grp_cust_df_1.shape

(62301, 2)

In [28]:
grp_cust.shape

(62308, 2)

In [29]:
grp_cust_df_1.reset_index(drop=True, inplace=True)

In [30]:
grp_cust_df_1.head()

     cust_id  count
0  100010021    349
1  100022923    617
2  100029473   1644
3  100050424   1235
4  100051316   3065

In [31]:
grp_cust_df_1.tail()

        cust_id  count
62296  99804794    529
62297  99818613    673
62298  99844671   1656
62299  99926227    914
62300  99972977    670

In [32]:
cust = grp_cust_df_1[['cust_id']]

In [33]:
cust.head()

     cust_id
0  100010021
1  100022923
2  100029473
3  100050424
4  100051316

In [34]:
final_data = trans_table.merge(cust, on='cust_id')

In [35]:
final_data.shape

(71932596, 2)

In [36]:
cust_prod_comb = final_data.groupby(['cust_id','product_id']).size().reset_index().rename(columns={0:'count'})

In [37]:
cust_prod_comb.head()

     cust_id              product_id  count
0  100010021   1205 - 17292 - 5 - OZ      2
1  100010021  1703 - 10882 - 32 - OZ      1
2  100010021  1703 - 19934 - 26 - OZ      1
3  100010021   1703 - 6608 - 32 - OZ      1
4  100010021  1704 - 27327 - 20 - OZ      1

In [38]:
affinity_df = cust_prod_comb.merge(grp_cust_df_1, on='cust_id')

In [39]:
affinity_df.head()

     cust_id              product_id  count_x  count_y
0  100010021   1205 - 17292 - 5 - OZ        2      349
1  100010021  1703 - 10882 - 32 - OZ        1      349
2  100010021  1703 - 19934 - 26 - OZ        1      349
3  100010021   1703 - 6608 - 32 - OZ        1      349
4  100010021  1704 - 27327 - 20 - OZ        1      349

In [40]:
affinity_df.rename(columns={'count_x':'combination'}, inplace=True)
affinity_df.rename(columns={'count_y':'visits'}, inplace=True)

In [41]:
affinity_df.head()

     cust_id              product_id  combination  visits
0  100010021   1205 - 17292 - 5 - OZ            2     349
1  100010021  1703 - 10882 - 32 - OZ            1     349
2  100010021  1703 - 19934 - 26 - OZ            1     349
3  100010021   1703 - 6608 - 32 - OZ            1     349
4  100010021  1704 - 27327 - 20 - OZ            1     349

In [42]:
affinity_df['affinity'] = affinity_df['combination'] / affinity_df['visits'] * 100

In [43]:
affinity_df.head()

     cust_id              product_id  combination  visits  affinity
0  100010021   1205 - 17292 - 5 - OZ            2     349  0.573066
1  100010021  1703 - 10882 - 32 - OZ            1     349  0.286533
2  100010021  1703 - 19934 - 26 - OZ            1     349  0.286533
3  100010021   1703 - 6608 - 32 - OZ            1     349  0.286533
4  100010021  1704 - 27327 - 20 - OZ            1     349  0.286533

In [44]:
affinity_df['affinity_round'] = affinity_df.affinity.round()

In [45]:
affinity_df.head()

,cust_id,product_id,combination,visits,affinity,affinity_round
0,100010021,1205 - 17292 - 5 - OZ,2,349,0.573066,1.0
1,100010021,1703 - 10882 - 32 - OZ,1,349,0.286533,0.0
2,100010021,1703 - 19934 - 26 - OZ,1,349,0.286533,0.0
3,100010021,1703 - 6608 - 32 - OZ,1,349,0.286533,0.0
4,100010021,1704 - 27327 - 20 - OZ,1,349,0.286533,0.0

In [46]:
affinity_user_df = affinity_df[['cust_id','affinity_round']]

In [47]:
affinity_user_df.head()

     cust_id  affinity_round
0  100010021             1.0
1  100010021             0.0
2  100010021             0.0
3  100010021             0.0
4  100010021             0.0

In [48]:
affinity_user_df.shape

(27692932, 2)

In [49]:
affinity_user_df1 = affinity_user_df.drop_duplicates('cust_id').reset_index(drop = True)

In [50]:
affinity_user_df1.shape

(62301, 2)

In [51]:
affinity_user_comb = affinity_user_df1.groupby(['affinity_round','cust_id']).size().reset_index().rename(columns={0:'users_count'})

In [52]:
affinity_user_comb.head()

   affinity_round    cust_id  users_count
0             0.0  100022923            1
1             0.0  100029473            1
2             0.0  100050424            1
3             0.0  100051316            1
4             0.0  100077437            1

In [53]:
affinity_user_comb.tail()

       affinity_round     cust_id  users_count
62296            50.0  3020234434            1
62297            50.0  4053422289            1
62298            50.0  4377662924            1
62299            50.0  4396488884            1
62300            50.0  4670979967            1

In [54]:
affinity_user_comb_df = affinity_user_comb.groupby(by=['affinity_round'])['users_count'].sum()

In [55]:
affinity_user_comb_df.head()

affinity_round
0.0    30119
1.0    13671
2.0     4492
3.0     2868
4.0     2443
Name: users_count, dtype: int64

In [56]:
type(affinity_user_comb_df)

pandas.core.series.Series

In [57]:
affinity_user_comb_df = affinity_user_comb_df.to_frame()

In [58]:
affinity_user_comb_df.head()

                users_count
affinity_round
0.0                   30119
1.0                   13671
2.0                    4492
3.0                    2868
4.0                    2443

In [59]:
affinity_user_comb_df.reset_index(inplace=True)

In [60]:
affinity_user_comb_df

    affinity_round  users_count
0              0.0        30119
1              1.0        13671
2              2.0         4492
3              3.0         2868
4              4.0         2443
5              5.0         1969
6              6.0         1545
7              7.0         1205
8              8.0          824
9              9.0          627
10            10.0          528
11            11.0          396
12            12.0          380
13            13.0          273
14            14.0          245
15            15.0          176
16            16.0          117
17            17.0          107
18            18.0           79
19            19.0           53
20            20.0           52
21            21.0           35
22            22.0           21
23            23.0           12
24            24.0           16
25            25.0           14
26            26.0            8
27            27.0            4
28            28.0            3
29            29.0            4
30            30.0            3
31            32.0            1
32            33.0            2
33            35.0            1
34            38.0            1
35            45.0            1
36            50.0            6

In [61]:
affinity_user_comb_df.users_count.sum()

62301

In [62]:
affinity_user_comb_df.sort_index(ascending=False,inplace=True)

In [63]:
affinity_user_comb_df.head()

    affinity_round  users_count
36            50.0            6
35            45.0            1
34            38.0            1
33            35.0            1
32            33.0            2

In [64]:
affinity_user_comb_df['user_per'] = affinity_user_comb_df['users_count']/affinity_user_comb_df['users_count'].sum() * 100

In [65]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per
36            50.0            6  0.009631
35            45.0            1  0.001605
34            38.0            1  0.001605
33            35.0            1  0.001605
32            33.0            2  0.003210

In [66]:
affinity_user_comb_df['aggregated_per'] = affinity_user_comb_df.user_per.cumsum()

In [67]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per  aggregated_per
36            50.0            6  0.009631        0.009631
35            45.0            1  0.001605        0.011236
34            38.0            1  0.001605        0.012841
33            35.0            1  0.001605        0.014446
32            33.0            2  0.003210        0.017656

In [68]:
affinity_user_comb_df

    affinity_round  users_count   user_per  aggregated_per
36            50.0            6   0.009631        0.009631
35            45.0            1   0.001605        0.011236
34            38.0            1   0.001605        0.012841
33            35.0            1   0.001605        0.014446
32            33.0            2   0.003210        0.017656
31            32.0            1   0.001605        0.019261
30            30.0            3   0.004815        0.024077
29            29.0            4   0.006420        0.030497
28            28.0            3   0.004815        0.035312
27            27.0            4   0.006420        0.041733
26            26.0            8   0.012841        0.054574
25            25.0           14   0.022472        0.077045
24            24.0           16   0.025682        0.102727
23            23.0           12   0.019261        0.121988
22            22.0           21   0.033707        0.155696
21            21.0           35   0.056179        0.211875
20            20.0           52   0.083466        0.295340
19            19.0           53   0.085071        0.380411
18            18.0           79   0.126804        0.507215
17            17.0          107   0.171747        0.678962
16            16.0          117   0.187798        0.866760
15            15.0          176   0.282499        1.149259
14            14.0          245   0.393252        1.542511
13            13.0          273   0.438195        1.980707
12            12.0          380   0.609942        2.590649
11            11.0          396   0.635624        3.226272
10            10.0          528   0.847498        4.073771
9              9.0          627   1.006404        5.080175
8              8.0          824   1.322611        6.402786
7              7.0         1205   1.934158        8.336945
6              6.0         1545   2.479896       10.816841
5              5.0         1969   3.160463       13.977304
4              4.0         2443   3.921285       17.898589
3              3.0         2868   4.603457       22.502047
2              2.0         4492   7.210157       29.712204
1              1.0        13671  21.943468       51.655672
0              0.0        30119  48.344328      100.000000

In [69]:
affinity_user_comb_df['round_aggr'] = affinity_user_comb_df.aggregated_per.round()

In [70]:
affinity_user_comb_df.head()

    affinity_round  users_count  user_per  aggregated_per  round_aggr
36            50.0            6  0.009631        0.009631         0.0
35            45.0            1  0.001605        0.011236         0.0
34            38.0            1  0.001605        0.012841         0.0
33            35.0            1  0.001605        0.014446         0.0
32            33.0            2  0.003210        0.017656         0.0

In [71]:
affinity_user_comb_df.tail()

   affinity_round  users_count   user_per  aggregated_per  round_aggr
4             4.0         2443   3.921285       17.898589        18.0
3             3.0         2868   4.603457       22.502047        23.0
2             2.0         4492   7.210157       29.712204        30.0
1             1.0        13671  21.943468       51.655672        52.0
0             0.0        30119  48.344328      100.000000       100.0

In [79]:
affinity_user_comb_df

    affinity_round  users_count   user_per  aggregated_per  round_aggr
36            50.0            6   0.009631        0.009631         0.0
35            45.0            1   0.001605        0.011236         0.0
34            38.0            1   0.001605        0.012841         0.0
33            35.0            1   0.001605        0.014446         0.0
32            33.0            2   0.003210        0.017656         0.0
31            32.0            1   0.001605        0.019261         0.0
30            30.0            3   0.004815        0.024077         0.0
29            29.0            4   0.006420        0.030497         0.0
28            28.0            3   0.004815        0.035312         0.0
27            27.0            4   0.006420        0.041733         0.0
26            26.0            8   0.012841        0.054574         0.0
25            25.0           14   0.022472        0.077045         0.0
24            24.0           16   0.025682        0.102727         0.0
23            23.0           12   0.019261        0.121988         0.0
22            22.0           21   0.033707        0.155696         0.0
21            21.0           35   0.056179        0.211875         0.0
20            20.0           52   0.083466        0.295340         0.0
19            19.0           53   0.085071        0.380411         0.0
18            18.0           79   0.126804        0.507215         1.0
17            17.0          107   0.171747        0.678962         1.0
16            16.0          117   0.187798        0.866760         1.0
15            15.0          176   0.282499        1.149259         1.0
14            14.0          245   0.393252        1.542511         2.0
13            13.0          273   0.438195        1.980707         2.0
12            12.0          380   0.609942        2.590649         3.0
11            11.0          396   0.635624        3.226272         3.0
10            10.0          528   0.847498        4.073771         4.0
9              9.0          627   1.006404        5.080175         5.0
8              8.0          824   1.322611        6.402786         6.0
7              7.0         1205   1.934158        8.336945         8.0
6              6.0         1545   2.479896       10.816841        11.0
5              5.0         1969   3.160463       13.977304        14.0
4              4.0         2443   3.921285       17.898589        18.0
3              3.0         2868   4.603457       22.502047        23.0
2              2.0         4492   7.210157       29.712204        30.0
1              1.0        13671  21.943468       51.655672        52.0
0              0.0        30119  48.344328      100.000000       100.0

In [72]:
a = affinity_user_comb_df.loc[affinity_user_comb_df['round_aggr'] <= 2]

In [73]:
a

    affinity_round  users_count  user_per  aggregated_per  round_aggr
36            50.0            6  0.009631        0.009631         0.0
35            45.0            1  0.001605        0.011236         0.0
34            38.0            1  0.001605        0.012841         0.0
33            35.0            1  0.001605        0.014446         0.0
32            33.0            2  0.003210        0.017656         0.0
31            32.0            1  0.001605        0.019261         0.0
30            30.0            3  0.004815        0.024077         0.0
29            29.0            4  0.006420        0.030497         0.0
28            28.0            3  0.004815        0.035312         0.0
27            27.0            4  0.006420        0.041733         0.0
26            26.0            8  0.012841        0.054574         0.0
25            25.0           14  0.022472        0.077045         0.0
24            24.0           16  0.025682        0.102727         0.0
23            23.0           12  0.019261        0.121988         0.0
22            22.0           21  0.033707        0.155696         0.0
21            21.0           35  0.056179        0.211875         0.0
20            20.0           52  0.083466        0.295340         0.0
19            19.0           53  0.085071        0.380411         0.0
18            18.0           79  0.126804        0.507215         1.0
17            17.0          107  0.171747        0.678962         1.0
16            16.0          117  0.187798        0.866760         1.0
15            15.0          176  0.282499        1.149259         1.0
14            14.0          245  0.393252        1.542511         2.0
13            13.0          273  0.438195        1.980707         2.0

In [74]:
a.reset_index(drop=True, inplace=True)

In [75]:
a

    affinity_round  users_count  user_per  aggregated_per  round_aggr
0             50.0            6  0.009631        0.009631         0.0
1             45.0            1  0.001605        0.011236         0.0
2             38.0            1  0.001605        0.012841         0.0
3             35.0            1  0.001605        0.014446         0.0
4             33.0            2  0.003210        0.017656         0.0
5             32.0            1  0.001605        0.019261         0.0
6             30.0            3  0.004815        0.024077         0.0
7             29.0            4  0.006420        0.030497         0.0
8             28.0            3  0.004815        0.035312         0.0
9             27.0            4  0.006420        0.041733         0.0
10            26.0            8  0.012841        0.054574         0.0
11            25.0           14  0.022472        0.077045         0.0
12            24.0           16  0.025682        0.102727         0.0
13            23.0           12  0.019261        0.121988         0.0
14            22.0           21  0.033707        0.155696         0.0
15            21.0           35  0.056179        0.211875         0.0
16            20.0           52  0.083466        0.295340         0.0
17            19.0           53  0.085071        0.380411         0.0
18            18.0           79  0.126804        0.507215         1.0
19            17.0          107  0.171747        0.678962         1.0
20            16.0          117  0.187798        0.866760         1.0
21            15.0          176  0.282499        1.149259         1.0
22            14.0          245  0.393252        1.542511         2.0
23            13.0          273  0.438195        1.980707         2.0

In [76]:
a_value = a.affinity_round.loc[a['round_aggr'] <= 2]

In [77]:
a_value = a_value.tolist()

In [78]:
a_value

[50.0,
 45.0,
 38.0,
 35.0,
 33.0,
 32.0,
 30.0,
 29.0,
 28.0,
 27.0,
 26.0,
 25.0,
 24.0,
 23.0,
 22.0,
 21.0,
 20.0,
 19.0,
 18.0,
 17.0,
 16.0,
 15.0,
 14.0,
 13.0]

In [80]:
a_value[-1]

13.0

In [81]:
b = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >2) & 
                                       (affinity_user_comb_df['round_aggr'] <=10)]

In [82]:
b

    affinity_round  users_count  user_per  aggregated_per  round_aggr
12            12.0          380  0.609942        2.590649         3.0
11            11.0          396  0.635624        3.226272         3.0
10            10.0          528  0.847498        4.073771         4.0
9              9.0          627  1.006404        5.080175         5.0
8              8.0          824  1.322611        6.402786         6.0
7              7.0         1205  1.934158        8.336945         8.0

In [83]:
b.reset_index(drop=True, inplace=True)

In [84]:
b

   affinity_round  users_count  user_per  aggregated_per  round_aggr
0            12.0          380  0.609942        2.590649         3.0
1            11.0          396  0.635624        3.226272         3.0
2            10.0          528  0.847498        4.073771         4.0
3             9.0          627  1.006404        5.080175         5.0
4             8.0          824  1.322611        6.402786         6.0
5             7.0         1205  1.934158        8.336945         8.0

In [85]:
b_value = b.affinity_round.loc[(b['round_aggr'] >2) & 
                          (b['round_aggr'] <=10)]

In [86]:
b_value

0    12.0
1    11.0
2    10.0
3     9.0
4     8.0
5     7.0
Name: affinity_round, dtype: float64

In [87]:
b_value = b_value.tolist()

In [88]:
b_value

[12.0, 11.0, 10.0, 9.0, 8.0, 7.0]

In [89]:
c = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >10) & 
                                       (affinity_user_comb_df['round_aggr'] <=25)]

In [90]:
c

   affinity_round  users_count  user_per  aggregated_per  round_aggr
6             6.0         1545  2.479896       10.816841        11.0
5             5.0         1969  3.160463       13.977304        14.0
4             4.0         2443  3.921285       17.898589        18.0
3             3.0         2868  4.603457       22.502047        23.0

In [91]:
c.reset_index(drop=True, inplace=True)

In [92]:
c_value = c.affinity_round.loc[(c['round_aggr'] >10) & 
                                       (c['round_aggr'] <=25)]

In [93]:
c_value

0    6.0
1    5.0
2    4.0
3    3.0
Name: affinity_round, dtype: float64

In [94]:
c_value = c_value.tolist()

In [95]:
c_value

[6.0, 5.0, 4.0, 3.0]

In [96]:
d = affinity_user_comb_df.loc[(affinity_user_comb_df['round_aggr'] >25) & 
                                       (affinity_user_comb_df['round_aggr'] <=50)]

In [97]:
d

   affinity_round  users_count  user_per  aggregated_per  round_aggr
2             2.0         4492  7.210157       29.712204        30.0

In [98]:
d.reset_index(drop=True, inplace=True)

In [99]:
d_value = d.affinity_round.loc[(d['round_aggr'] > 25) & 
                          (d['round_aggr'] <=50)]

In [100]:
d_value

0    2.0
Name: affinity_round, dtype: float64

In [101]:
d_value= d_value.tolist()

In [102]:
d_value

[2.0]

In [103]:
e = affinity_user_comb_df.loc[affinity_user_comb_df['round_aggr'] > 50]

In [104]:
e.reset_index(drop=True, inplace=True)

In [105]:
e_value = e.affinity_round.loc[e['round_aggr'] > 50]

In [106]:
e_value

0    1.0
1    0.0
Name: affinity_round, dtype: float64

In [107]:
e_value = e_value.tolist()

In [108]:
e_value

[1.0, 0.0]

In [109]:
affinity_df['Recommendation_class'] = ""

In [110]:
affinity_df.head()

,cust_id,product_id,combination,visits,affinity,affinity_round,class
0,100010021,1205 - 17292 - 5 - OZ,2,349,0.573066,1.0,
1,100010021,1703 - 10882 - 32 - OZ,1,349,0.286533,0.0,
2,100010021,1703 - 19934 - 26 - OZ,1,349,0.286533,0.0,
3,100010021,1703 - 6608 - 32 - OZ,1,349,0.286533,0.0,
4,100010021,1704 - 27327 - 20 - OZ,1,349,0.286533,0.0,

In [111]:
affinity_df.loc[affinity_df['affinity_round'] >= a_value[-1], 'Recommendation_class'] = "Class_A"

In [112]:
affinity_df.head()

,cust_id,product_id,combination,visits,affinity,affinity_round,class
0,100010021,1205 - 17292 - 5 - OZ,2,349,0.573066,1.0,
1,100010021,1703 - 10882 - 32 - OZ,1,349,0.286533,0.0,
2,100010021,1703 - 19934 - 26 - OZ,1,349,0.286533,0.0,
3,100010021,1703 - 6608 - 32 - OZ,1,349,0.286533,0.0,
4,100010021,1704 - 27327 - 20 - OZ,1,349,0.286533,0.0,

In [113]:
affinity_df.loc[(affinity_df['affinity_round'] >= b_value[-1]) & (affinity_df['affinity_round'] < a_value[-1]), 'Recommendation_class'] = "Class_B"

In [114]:
affinity_df.loc[(affinity_df['affinity_round'] >= c_value[-1]) & (affinity_df['affinity_round'] < b_value[-1]), 'Recommendation_class'] = "Class_C"

In [115]:
affinity_df.loc[(affinity_df['affinity_round'] >= d_value[-1]) & (affinity_df['affinity_round'] < c_value[-1]), 'Recommendation_class'] = "Class_D"

In [116]:
affinity_df.loc[(affinity_df['affinity_round'] >= e_value[-1]) & (affinity_df['affinity_round'] < d_value[-1]), 'Recommendation_class'] = "Class_E"

In [117]:
affinity_df.head()

,cust_id,product_id,combination,visits,affinity,affinity_round,class
0,100010021,1205 - 17292 - 5 - OZ,2,349,0.573066,1.0,Class_E
1,100010021,1703 - 10882 - 32 - OZ,1,349,0.286533,0.0,Class_E
2,100010021,1703 - 19934 - 26 - OZ,1,349,0.286533,0.0,Class_E
3,100010021,1703 - 6608 - 32 - OZ,1,349,0.286533,0.0,Class_E
4,100010021,1704 - 27327 - 20 - OZ,1,349,0.286533,0.0,Class_E

In [118]:
#affinity_df.query('affinity_round >= 13')

,cust_id,product_id,combination,visits,affinity,affinity_round,class
6536,100413035,6315 - 30626 - 128 - OZ,32,186,17.204301,17.0,Class_A
67200,102970463,9753 - 0 - 1 - CT,2,8,25.000000,25.0,Class_A
112572,104370698,6315 - 10786 - 128 - OZ,40,267,14.981273,15.0,Class_A
112819,104415170,2506 - 10786 - 32 - OZ,77,489,15.746421,16.0,Class_A
151791,105150199,3618 - 23359 - 20 - OZ,99,492,20.121951,20.0,Class_A
229160,1073248526,9753 - 0 - 1 - CT,159,946,16.807611,17.0,Class_A
230791,107345069,9609 - 88199 - 0 -,338,2384,14.177852,14.0,Class_A
251421,1078792440,9753 - 0 - 1 - CT,355,2137,16.612073,17.0,Class_A
253302,107908162,9904 - 14997 - 10.5 - OZ,145,862,16.821346,17.0,Class_A
289545,1091291758,9753 - 0 - 1 - CT,265,1503,17.631404,18.0,Class_A
295163,109617720,907 - 20016 - 20 - OZ,8,61,13.114754,13.0,Class_A
343108,112300348,3711 - 19525 - 12 - OZ,3,16,18.750000,19.0,Class_A
358675,114034454,6315 - 30626 - 128 - OZ,67,429,15.617716,16.0,Class_A
362368,1144713654,9753 - 0 - 1 - CT,58,444,13.063063,13.0,Class_A
404049,116311882,3611 - 5890 - 50.7 - OZ,187,982,19.042770,19.0,Class_A
417244,1169470570,9753 - 0 - 1 - CT,103,577,17.850953,18.0,Class_A
419701,117085769,5705 - 20230 - 6 - OZ,25,175,14.285714,14.0,Class_A
420857,117117968,6001 - 30272 - 32 - OZ,117,891,13.131313,13.0,Class_A
421550,1171374110,9609 - 88199 - 0 -,169,1331,12.697220,13.0,Class_A
439212,118078486,9609 - 88199 - 0 -,269,1979,13.592724,14.0,Class_A
444809,1183658166,9609 - 88199 - 0 -,43,274,15.693431,16.0,Class_A
456546,119453085,6311 - 12297 - 15.2 - OZ,192,1232,15.584416,16.0,Class_A
476182,120338360,6401 - 15433 - 72 - OZ,58,447,12.975391,13.0,Class_A
480167,120548141,9609 - 88199 - 0 -,25,146,17.123288,17.0,Class_A
588920,121667708,9609 - 88199 - 0 -,188,1406,13.371266,13.0,Class_A
590481,121694327,9753 - 0 - 1 - CT,21,126,16.666667,17.0,Class_A
610424,121795318,6315 - 10786 - 16 - OZ,212,1281,16.549571,17.0,Class_A
618815,121855956,5555 - 26051 - 28 - OZ,96,728,13.186813,13.0,Class_A
669809,122226110,5614 - 10786 - 1 - OZ,270,1872,14.423077,14.0,Class_A
758301,123977450,9609 - 88199 - 0 -,273,1990,13.718593,14.0,Class_A
...,...,...,...,...,...,...,...
27308761,768196390,2105 - 14357 - 32 - OZ,135,858,15.734266,16.0,Class_A
27310221,768243582,0 - 0 - 0 -,151,1193,12.657167,13.0,Class_A
27314302,768409621,0 - 0 - 0 -,77,601,12.811980,13.0,Class_A
27322255,768591505,0 - 0 - 0 -,61,420,14.523810,15.0,Class_A
27342959,769343295,9609 - 88199 - 0 -,582,4126,14.105671,14.0,Class_A
27347661,769597405,9609 - 88199 - 0 -,181,1153,15.698179,16.0,Class_A
27358823,770173130,0 - 0 - 0 -,130,871,14.925373,15.0,Class_A
27366225,770342933,5814 - 10837 - 4.2 - OZ,212,1470,14.421769,14.0,Class_A
27375667,770897380,0 - 0 - 0 -,39,307,12.703583,13.0,Class_A
27378944,771049792,0 - 0 - 0 -,109,833,13.085234,13.0,Class_A
27386221,771410148,0 - 0 - 0 -,157,1195,13.138075,13.0,Class_A
27401528,772011396,0 - 0 - 0 -,200,1197,16.708438,17.0,Class_A
27407442,772325383,0 - 0 - 0 -,250,1711,14.611338,15.0,Class_A
27421298,773240825,9609 - 88199 - 0 -,149,1125,13.244444,13.0,Class_A
27443773,798721156,9609 - 88199 - 0 -,57,451,12.638581,13.0,Class_A
27455003,817874268,9753 - 0 - 1 - CT,258,1226,21.044046,21.0,Class_A
27495131,863373290,9753 - 0 - 1 - CT,206,1061,19.415646,19.0,Class_A
27543306,872846189,9753 - 0 - 1 - CT,241,1663,14.491882,14.0,Class_A
27558405,874013933,9753 - 0 - 1 - CT,243,1906,12.749213,13.0,Class_A
27561329,87423533,3618 - 15704 - 67.6 - OZ,36,153,23.529412,24.0,Class_A
27571691,875087896,9753 - 0 - 1 - CT,137,894,15.324385,15.0,Class_A
27608174,898839529,7901 - 43728 - 1 - CT,122,737,16.553596,17.0,Class_A
27628321,944697007,0 - 0 - 0 -,68,359,18.941504,19.0,Class_A
27629783,948271276,9609 - 88199 - 0 -,209,1257,16.626889,17.0,Class_A
27636606,96745376,2630 - 9787 - 184 - CT,8,49,16.326531,16.0,Class_A
27636607,96745376,2633 - 30626 - 12 - RL,7,49,14.285714,14.0,Class_A
27636613,96745376,6401 - 11704 - 216 - OZ,13,49,26.530612,27.0,Class_A
27647412,97309678,9753 - 0 - 1 - CT,217,1372,15.816327,16.0,Class_A
27649334,97483202,3604 - 15704 - 67.6 - OZ,17,120,14.166667,14.0,Class_A
27659091,98075215,6315 - 30626 - 128 - OZ,10,77,12.987013,13.0,Class_A

In [119]:
affinity_df.shape

(27692932, 7)

In [120]:
len(affinity_df.cust_id.unique())

62301